---
// Component Imports
import Counter from '../components/Counter';
import Layout from '../layout/Layout.astro';
const someProps = {
	count: 0,
};
---
<Layout page="home">
	<Counter {...someProps} client:visible>
		<h1>Hello, React!</h1>
	</Counter>
</Layout>

<style>
</style>