<!-- ---
import Layout from '../layout/Layout.astro';

const siteURL = import.meta.env.PUBLIC_URL || 'http://localhost:8888';
const response = await fetch(`${siteURL}/.netlify/functions/solar-cleaning`);

const data = await response.json();
---

<Layout page="Solar Cleaning">
	<div class="relative">
		Hi
	</div>
</Layout>

<style></style> -->
