---
import Layout from '../layout/Layout.astro';

const pageTitle = "Purified Group - Thankyou | Professional Window & Solar Panel Cleaning";
const metaTag = "Thankyou for your enquiry.";
const url = "https://www.purifiedgroup.com.au/Thankyou";

---

<Layout page={pageTitle} metaTag={metaTag} url={url}>
	<div class="bg-warm-gray-50">
        <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
            <div class="bg-warm-gray-50">
                <div class="pt-24 pb-12 lg:pt-32 lg:pb-16">
                  <div class="mx-auto max-w-prose text-base lg:max-w-none">
                    <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl text-center">
                      Thank you for your enquiry!
                    </p>
                    <h2 class="text-lg font-semibold text-gray-700 text-center">
                      We endeavouer to respond to all enquiries within 24 hours.
                    </h2>

                      <div class="mt-6 flex justify-center">
                        <a href="/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-brand hover:bg-brandDark">
                          Return to Home
                        </a>
                      </div>

                  </div>
                </div>
              </div>
        </div>
      </div>
</Layout>
